.home{
  background-color: white;
  color: black;
}
.navbar-brand{
  color: #42B983;
}

.spinner-border{
    margin-top: 5%;
}
.alert-danger{
    margin-right: 150px;
    margin-left: 150px;
}
.btn-primary{
    margin-bottom: 15px;
}
input {
    background-color: white;
    width: 50%;
    margin-bottom: 1.5%;
    text-align: center;
    color: black;
    border: none;
    outline: none;
    border-radius: 1px;
    border-bottom: 2px solid black;
}
.login{
    background-color: white;
    border-radius: 1px;
    padding: 40px;
    margin: 200px;
    margin-top: 50px;
}

/* Animação */
input:focus {
    transition: 0.3s;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: black;
    border-bottom: 2px solid #5fa8d3;
    background-color: white;
}
@keyframes slide-in{
  from { transform:  translateY(40px);}
  to { transform:  translateY(0);}
}
@keyframes slide-out{
  from { transform:  translateY(0);}
  to { transform:  translateY(40px);}
}
.slide-enter-active{
  animation: slide-in 2s ease;
  transition: opacity 2s;
}
.slide-leave-active{
  animation: slide-out 2s ease;
  transition: opacity 2s;
}
.slide-enter, .slide-leave-to {
  opacity: 0;
}

