{% extends "base.html" %}

{% block content %}
<body id="register">
    <div class="container">
        <h3 class="mt-0 text-white">Cadastre seu cônjuge</h3><hr>

        <form action="/spouse/{{ id }}/register" enctype="multipart/form-data" name="login" method="post">

            <div class="row tm-register-row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-l">
                    {% if status %}
                        <div style="color:green;">
                            <div role="alert">
                                {{ message }}
                            </div>
                        </div>
                    {% else %}
                        <div style="color:red;">
                            <div role="alert">
                                {{ message }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="input-field">
                        <input placeholder="Primeiro Nome" id="first_name" name="first_name" type="text" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input placeholder="Ultimo Nome" id="last_name" name="last_name" type="text" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input placeholder="CPF ou CNPJ" id="cpf" name="cpf_or_cnpj" type="text" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input placeholder="E-mail" id="email" name="email" type="email" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input placeholder="Telefone (Celular)" id="mobile" name="mobile" type="tel" class="validate" required>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0 tm-pr-xs-0">
                        <select name="type_person">
                            <option selected value="">Pessoa Física</option>
                            <option value="True">Pessoa Jurídica</option>
                        </select>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-r">
                    <div class="input-field">
                        <input placeholder="Numero de Registro (RG)" id="rg" name="rg" type="tel" class="validate" required>
                    </div>

                    <div class="input-field">
                        <input placeholder="Renda anual" id="income" name="income" type="number" class="validate" required>
                    </div>

                    <div class="input-field">
                        <p class="simple-lbl">Certidão de casamento:</p>
                        <input placeholder="Certidao de casamento" id="file4" name="wedding_file" type="file">
                    </div>
                    <div class="input-field">
                        <p class="simple-lbl">Imposto de renda do último ano:</p>
                        <input placeholder="Imposto de renda" id="file5" name="income_tax_file" type="file">
                    </div>
                </div>
            </div>

            <div class="text-right mt-4">
                <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text">Enviar</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>
{% endblock %}
