<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Hackathon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/tooplate.css">
</head>

<body id="register">
    <div class="container">
        <form action="/register" enctype="multipart/form-data" name="login" method="post">

            <div class="row tm-register-row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-l">
                    {% if not status %}
                        <div style="color:green;">
                            <div role="alert">
                                Sua solicitação foi enviada com sucesso!
                                Após a analise você terá a resposta por e-mail.
                            </div>
                        </div>
                    {% endif %}
                        <div class="input-field">
                            <input placeholder="Primeiro Nome" id="first_name" name="name" type="text" class="validate">
                        </div>
                        <div class="input-field">
                            <input placeholder="Ultimo Nome" id="last_name" name="last_name" type="text" class="validate">
                        </div>
                        <div class="input-field">
                            <input placeholder="CPF ou CNPJ" id="cpf" name="cpf_or_cnpj" type="text" class="validate">
                        </div>
                        <div class="input-field">
                            <input placeholder="E-mail" id="email" name="email" type="email" class="validate">
                        </div>
                        <div class="input-field">
                            <input placeholder="Telefone (Celular)" id="mobile" name="mobile" type="tel" class="validate">
                        </div>

                        <div class="row">
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0 tm-pr-xs-0">
                                <select name="type_person">
                                    <option value="physical person">Pessoa Física</option>
                                    <option value="legal_person">Pessoa Jurídica</option>
                                </select>
                            </div>
                           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pr-0 tm-pl-xs-0">
                               <div class="input-field">
                                   <input placeholder="CEP" id="zipcode" name="zipcode" type="text" class="validate">
                               </div>
                           </div>
                        </div>

                        <div class="input-field">
                            <input placeholder="Endereço" id="address" name="address" type="text" class="validate">
                        </div>
                        <div class="text-right mt-4">
                            <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text">Enviar</button>
                        </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-r">
                    <header class="mb-5">
                        <h3 class="mt-0 text-white">Faça seu cadastro!</h3>
                        <hr>
                        <div class="input-field">
                            <p class="simple-lbl">Comprovante de residência:</p>
                            <input placeholder="Comprovante de residência" id="file1" name="file1" type="file">
                        </div>
                        <div class="input-field">
                            <p class="simple-lbl">Foto RG:</p>
                            <input placeholder="Foto do RG" id="file2" name="file2" type="file">
                        </div>

                        <div class="input-field">
                            <p class="simple-lbl">Documento adicional:</p>
                            <input placeholder="Documento adicional" id="file3" name="file3" type="file">
                        </div>
                    </header>
                </div>
            </div>

        </form>
    </div>

    <script src="static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="static/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>