{% extends "base.html" %}

{% block content %}
<body id="register">
    <div class="container">
        <div>
            <header class="mb-5">
                <h3 class="mt-0 text-white">Cadastrar</h3>
            </header>
            <hr>

            <form action="/user/register" name="login" method="post">
                {% if not status %}
                    <div style="color:green;">
                        <div role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% else %}
                    <div style="color:red;">
                        <div role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endif %}
                <div class="input-field">
                    <input placeholder="E-mail" id="email" name="email" type="email" class="validate" required maxlength="84">
                </div>

                <div class="input-field">
                    <input placeholder="Senha" id="password" name="password" type="password" class="validate" required minlength="6" maxlength="10">
                </div>

                <select name="group">
                    {% for group in groups %}
                       <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>

                <div class="text-right mt-4">
                    <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>
{% endblock %}