{% extends "base.html" %}

{% block content %}
<body id="register">
    <div class="container">
        <h3 class="mt-0 text-white">Preencha para fazer uma solicitação</h3><hr>

        <form action="/register" enctype="multipart/form-data" name="login" method="post">

            <div class="row tm-register-row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-l">
                    {% if status %}
                        <div style="color:green;">
                            <div role="alert">
                                {{ message }}
                            </div>
                        </div>
                    {% else %}
                        <div style="color:red;">
                            <div role="alert">
                                {{ message }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="input-field">
                        <input placeholder="Primeiro Nome" id="first_name" name="first_name" type="text" class="validate" required maxlength="150">
                    </div>
                    <div class="input-field">
                        <input placeholder="Ultimo Nome" id="last_name" name="last_name" type="text" class="validate" required maxlength="150">
                    </div>
                    <div class="input-field">
                        <input placeholder="CPF ou CNPJ" id="cpf" name="cpf_or_cnpj" type="tel" class="validate" required minlength="11" maxlength="14">
                    </div>
                    <div class="input-field">
                        <input placeholder="E-mail" id="email" name="email" type="email" class="validate" required maxlength="84">
                    </div>
                    <div class="input-field">
                        <input placeholder="Data do nascimento" id="date" name="birth_date" type="date" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input placeholder="Telefone (Celular)" id="mobile" name="phone" type="tel" class="validate" required maxlength="20">
                    </div>

                    <div class="row">
                       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pl-0 tm-pr-xs-0">
                            <select name="legal_person">
                                <option selected value="">Pessoa Física</option>
                                <option value="True">Pessoa Jurídica</option>
                            </select>
                        </div>
                       <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pr-0 tm-pl-xs-0">
                           <div class="input-field">
                               <input placeholder="CEP" id="zipcode" name="zipcode" type="tel" class="validate" required maxlength="10">
                           </div>
                       </div>
                    </div>

                    <div class="input-field">
                        <input placeholder="Endereço" id="address" name="address" type="text" class="validate" required maxlength="150">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-register-col-r">
                    <div class="input-field">
                        <input placeholder="Numero de Registro (RG)" id="rg" name="rg" type="tel" class="validate" required maxlength="20">
                    </div>

                    <div class="input-field">
                        <input placeholder="Valor do patrimônio" id="heritage " name="patrimony" type="number" class="validate" required>
                    </div>

                    <div class="input-field">
                        <input placeholder="Renda mensal" id="income" name="monthly_income" type="number" class="validate" required>
                    </div>

                    <div class="row">
                        <div class="col"> <p class="simple-lbl">Possui Conjugê:</p> </div>
                        <div class="col">
                            <label>
                                <input checked class="with-gap" name="spouse" value="" type="radio" required>
                                <span>Não</span>
                            </label>
                            <label>
                                <input class="with-gap" name="spouse" value="True" type="radio">
                                <span>Sim</span>
                            </label>
                        </div>
                    </div>

                    <div class="input-field">
                        <p class="simple-lbl">Comprovante de residência:</p>
                        <input placeholder="Comprovante de residência" id="file2" name="residence_file" type="file" required>
                    </div>

                    <div class="input-field">
                        <p class="simple-lbl">Certidão de nascimento:</p>
                        <input placeholder="Certidão de nascimento" id="file3" name="birth_file" type="file" required>
                    </div>

                    <div class="input-field">
                        <p class="simple-lbl">Imposto de renda do último ano:</p>
                        <input placeholder="Imposto de renda" id="file5" name="income_tax_file" type="file" required>
                    </div>
                </div>
            </div>

            <div class="text-right mt-4">
                <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text">Enviar</button>
            </div>
        </form>
    </div>

</body>
{% endblock %}
