<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Hackathon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/tooplate.css">
</head>

<body id="register">
    <div class="container">
        <div>
            <header class="mb-5">
                <h3 class="mt-0 text-white">Cadastrar</h3>
            </header>
            <hr>

            <form action="/user/register" name="login" method="post">
                {% if not status %}
                    <div style="color:green;">
                        <div role="alert">
                            Sua solicitação foi enviada com sucesso!
                            Após a analise você terá a resposta por e-mail.
                        </div>
                    </div>
                {% endif %}
                <div class="input-field">
                    <input placeholder="E-mail" id="email" name="email" type="email" class="validate">
                </div>

                <div class="input-field">
                    <input placeholder="Senha" id="password" name="password" type="password" class="validate">
                </div>

                <select name="group">
                    {% for group in groups %}
                       <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>

                <div class="text-right mt-4">
                    <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>